* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #eeedec;
}
.container {
    max-width: 350px;
    margin: 50px auto 0 auto;
    text-align: center;
    padding: 0 15px;
}
.d-none{
    display: none;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 15px;
}
.page-title{
    color: gray;
}
form.search-form {
    margin: 0 auto 20px auto;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: center;
}
input::placeholder{
    font-size: 20px;
}
/* ------- box shadow is given inside input because chrome browser is automatically giving other color inside input when input is autocompleted */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset;
}
.weather-content {
    background: white;
    padding: 15px 0;
    box-shadow: 0 0 10px 0 grey;
}
.weather-image{
    line-height: 0;
}
.weather-image img{
    width: 100%;
    max-height: 200px;
}
.city-name, .weather-condition, .temperature{
    text-transform: capitalize;
    color: slategray;
}
.city-name{
    font-size: 30px;
}
.weather-condition{
    font-size: 25px;
}
.temperature{
    font-size: 30px;
}